
    {% extends 'base.html' %}


{% block tohen %}
<style>
body{
    background-image: url("../static/background.png");
    }
</style>




    <header>web of dogs by or zeharia</header>

  {% if session['logedin'] %}
        <h1 class ="headerContact">Welcome, {{ session['username'] | upper() }}</h1>
    {% else %}
        <h1 class ="headerContact">Welcome to Log-In Page</h1>
        {% if message %}
            <h2>{{ message }}</h2>
        {% endif %}
    {% endif %}

    <br>


         <span class= "littel_header "> please sign up</span><br><br>

         <div id="container2">
            <form action="URL" method="post"  onsubmit="message(); return false";>
                
                <label for="FullName">full name</label><br>
                <input type="text" id="FullName" name="FullName" autocomplete="on" required><br><br>
                <label for="email">email</label><br>
                <input type="email" id="email" name="email"><br> <br>
          
             
                <label for="agree">I agree to connect</label><br>
                <input type="checkbox" id="agree" name="agree"><br><br>
                <label for="num of dogs at home">Num of dogs at home</label><br>
                <input id="numDog" type="number" name="num"
                min="0"
                max="5"
                ><br> <br>
                <label for="birth">Date of birth</label>
                <input type="date" name="date" id="date"
               ><br><br>
                
                <label for="love">How much you love dogs?</label><br>
                <input type="range" name="range" id="range"
        min="0"
        max="10"><br><br>
        <label for="pwd">Please choose password:</label><br>
        <input type="password" id="pwd" name="pwd"><br><br>
        <label for="dogs">Choose a type of dogs:</label><br>
        <select name="dogs" id="dogs">
          <option value="Akitas ">Akitas</option>
          <option value="Affenpinscher">Affenpinscher</option>
          <option value="Labrador">Labrador</option>
          <option value="else">else</option>
        </select><br><br>
        
        <input type="submit" onclick="message()" ><br>
        <p id="ans"></p> 
    </form> 
</div>
    <br><br>


   
{% endblock %}
</html>