<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS.css">
    <script defer src="..//static/active.js"></script>
    <style>
        body{
            background-color: antiquewhite;
        }
      
    
    </style>
</head>
<body>
    <header>web of dogs by or zeharia</header> 
    <nav>
        <ul>
            
            <li> <a href="home.HTML">go to main</a></li>
            <li> <a href="contact.HTML">to connect</a></li>
        </ul> 
     </nav>
     
    
        <div>
            <h1 class="headerContact">DOGS</h1> 
         </div><br><br>
    
     <span class="littel_header"> Sweet dogs</span><br><br>
    
 
    
     <div id="container">
       <div id="pic1">
        <img src="../static/home1.jpg" alt=""
        style="width: 350px; height: 200px;"
        >
       </div> 
       
       <div id="animation"class="pic2">
        <img src="../static/home2.jpg" alt=""
        style="width: 350px; height: 200px"
        >
       </div>

       <div id="animation2" class="pic2">
        <img src="../static/home4.jpg" alt=""
        style="width: 350px; height: 200px;">
        
        </div>


       <div id="pic3" >
        <img src="../static/home3.jpg" alt=""
        style="width: 350px; height: 200px;"
        >
       </div>

     </div>
      
     
     <button onclick="fun_text()">More about the site</button>
     <p id="text_open"></p>
    
   
</body>
</html>