<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border:2px solid rgb(78, 161, 148); padding: 5px; margin: 20px;">
   
        <h1>DOGS</h1> 
     </div>
     <span style="border:2px solid rgb(12, 170, 136);"> Sweet dogs</span><br>
    
    <img src="../static/PIC.webp" alt="" width="500px"> <br>
    <ul>
        <li> <a href="contact.HTML">to connect</a></li>
    </ul>
</body>
</html>